<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.1" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net461" />
  <package id="GraphX" version="2.3.6.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.1" targetFramework="net461" />
  <package id="MySql.Data" version="6.8.8" targetFramework="net461" />
  <package id="MySql.Data.Entity" version="6.8.8" targetFramework="net461" />
  <package id="OpenCover" version="4.6.519" targetFramework="net461" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net461" />
  <package id="Prism.Wpf" version="6.3.0" targetFramework="net461" />
  <package id="QuickGraphPCL" version="3.6.61114.2" targetFramework="net461" />
  <package id="ReportGenerator" version="3.1.2" targetFramework="net461" />
</packages>